<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-titulo">Localização de Serviços</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light-cinzento">
  <ion-grid>
    <ion-row>
      <ion-col size-md=6 offset-md=3>
        <ion-label color="dark">
          <h1>Você está aqui!</h1>
        </ion-label>
      </ion-col>
    </ion-row>
    <div class="map" #map></div>

    {{location}}

    <!-- (ionSelect)="getData($event)" -->
    <ion-row>
      <ion-col size-md=6 offset-md=3>
        <ion-list>
          <ion-radio-group value="servicos" [(ngModel)]="location" (ionChange)="getLocation()" >
            <ion-list-header>
              <ion-label color="dark">
                <h1>Selecione o serviço</h1>
              </ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label>Farmácia</ion-label>
              <ion-radio slot="start" color="azul-coal" value="farmacia"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Hospital</ion-label>
              <ion-radio slot="start" color ="azul-coal" value="hospital"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Unidade Básica de Saúde (UBS)</ion-label>
              <ion-radio slot="start" color="azul-coal" value="ubs"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>