<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" size-md="6">
        <ion-text>
          <p class="titulo" style="margin-bottom: 1em">
            Por favor, verifique seu email para ter acesso à plataforma.
          </p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <ion-button color="dark-ciano" (click)="oneboarding()">Abrir Onboarding</ion-button>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
