ion-content {
  --ion-background-color: var(--ion-color-light-cinzento);

}

ion-toolbar{
  --ion-background-color: var(--ion-color-azul-coal)
}

ion-grid{
  height: 100%;
}

ion-row{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-col{
  margin: 2em;
}


