ion-content {
  --ion-background-color: var(--ion-color-light-cinzento);
}

ion-toolbar{
  --ion-background-color: var(--ion-color-azul-coal)
}

ion-grid {
  height: 100%;
}

.titulo {
  font-size: 30pt;
  font-family: roboto;
}

.subtitulo {
  font-size: 15pt;
}
