<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" offset="1">
      <ion-text>
         <p class="titulo">Olá</p>
        <p class="subtitulo">Ficou com dúvida em algo?<br>
        Pergunte através desse canal.</p>
      </ion-text>
      </ion-col>
      <ion-col size="12" offset="1">

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Nome</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10" offset="1">
        <ion-item>
          <ion-label position="floating">O que você deseja perguntar?</ion-label>
          <ion-textarea rows="5"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row><h5></h5></ion-row>

    <ion-row class="ion-justify-content-end">
      <ion-col size-xs="6" size-md="3">
        <ion-button expand="block" size="large" color="dark-ciano">Enviar</ion-button>
      </ion-col>
    </ion-row>

</ion-grid>
</ion-content>
