:root {

    /** Azul Coal **/
    --ion-color-azulcoal: #4A88A1;
    --ion-color-azulcoal-rgb: 74, 136, 161;

    /** Amarelo Queimado **/
    --color-amarelo: #EA9E02;
    --color-amarelo-rgb: 234, 158, 2;

    /** Dark Ciano **/
    --color-dark-ciano: #264653;
    --color-dark-ciano-rgb: 38, 70, 83;

    /** Cinzento **/
    --color-cinzento: #D6D6D6 ;
    --color-cinzento-rgb: 214, 214, 214;

    /** Dark Cinzento **/
  --color-dark-cinzento: #969696 ;
  --color-dark-cinzento-rgb: 150, 150, 150;

}