<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" size-md="7">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="10" size-md="5">
              <ion-img src="../assets/ewasP.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>

        <form #formLogin="ngForm" (ngSubmit)="onSubmit(formLogin)">

          <ion-item>
            <ion-label position="floating">E-mail</ion-label>
            <ion-input name="email" type="email" ngModel required email #emailCtrl="ngModel" [(ngModel)]="usuarioLogin.email"></ion-input>
            <p class="msgErro" *ngIf="!emailCtrl.valid && emailCtrl.touched">Por favor, insira um email válido.</p>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Senha</ion-label>
            <ion-input name="senha" type="password" ngModel required minlength="8" #senhaCtrl="ngModel" [(ngModel)]="usuarioLogin.senha"></ion-input>
            <p class="msgErro" *ngIf="!senhaCtrl.valid && senhaCtrl.touched">Mínimo de 8 caracteres</p>
          </ion-item>

          <ion-button type="submit" expand="block" size="large" color="dark-ciano">Entrar</ion-button>
          <ion-button fill="clear" expand="block" (click)="redefinirSenha()" size="large">Esqueci minha senha</ion-button>


        </form>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



<!--
<ion-content color="light-cinzento">
  <ion-grid>

    <ion-row><h5></h5></ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="8" size-md="3">
        <ion-img src="../assets/ewasP.png"></ion-img>
      </ion-col>
    </ion-row>

    <ion-row><h5></h5></ion-row>
    <ion-row><h5></h5></ion-row>
    <ion-row><h5></h5></ion-row>
    <ion-row><h5></h5></ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" size-md="6">
        <ion-item>
          <ion-label position="floating">E-mail</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" size-md="6">
        <ion-item>
          <ion-label position="floating">Senha</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="10" size-md="6">
        <ion-button expand="block" size="large" color="dark-ciano">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
-->
