<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/metodos"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-top: 5%; margin-bottom: 5%;">
    <ion-col size-md="10" offset-md="1" size-xs="11">
      <ion-card id="full">
        <ion-row style="margin-bottom: 2em;">
          <ion-col size-xs="5" size-md="3">
            <div id="img">
              <img  src="../assets/img-metodos/{{ metodo.imagem }}">
            </div>
          </ion-col>
          <ion-col size-xs="7" size-md="9">
            <ion-item-divider>
              <p class="titulo"><b>{{ metodo.titulo }}</b></p>
            </ion-item-divider>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="5">
            <h4><b>Efetividade</b></h4>
            <ion-row>
              <ion-col size-md="6" size-xs="12">
                <p>{{ metodo.efetividadeImagem }}</p>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <p><b>{{ metodo.efetividadeTitulo }}</b></p>
                <p>{{ metodo.efetividadeConteudo }}</p>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="metodo.efetividadeConteudo2">
              <ion-col size-md="6" size-xs="12">
                <p>{{ metodo.efetividadeImagem2 }}</p>
              </ion-col>
              <ion-col size-md="6" size-xs="12">
                <p><b>{{ metodo.efetividadeTitulo2 }}</b></p>
                <p>{{ metodo.efetividadeConteudo2 }}</p>
              </ion-col>
            </ion-row>
            <p id="fcolor" class="titulo"><b>{{ metodo.efetividadeConclusao }}</b></p>
          </ion-col>
          <ion-col size="7">
            <li *ngFor="let conteudo of metodo.conteudo" style="margin-bottom: 1em;">{{ conteudo }}</li>
          </ion-col>
        </ion-row>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
