// ion-menu{
//     ion-content{
//         --ion-background-color: #D6D6D6
//     }
// }
ion-menu {
    --background: var(--ion-color-dark-cinzento) !important;
    ion-content {
        --background: var(--ion-color-dark-cinzento) !important;
        ion-list {
            --background: var(--ion-color-dark-cinzento) !important;
            --color: #ffffff !important;
            
        }
        ion-item {
            --background: var(--ion-color-dark-cinzento) !important;
            --color: #ffffff !important;
            --highlight-height: 0;
            ion-icon {
                padding-right: 10px !important;
            }
        }
    }
}



