// ion-menu{
//     ion-content{
//         --ion-background-color: #D6D6D6
//     }
// }

ion-menu{
--background: var(--ion-color-dark-cinzento) !important; 
    ion-content{            
        --background: var(--ion-color-dark-cinzento) !important; 
        ion-item{
            --background: var(--ion-color-dark-cinzento) !important;
            --color: #FFFFFF !important;
            ion-icon{ padding-right: 10px !important; }
        }
        ion-list{ 
            --background: #969696 !important;
            --color: #FFFFFF !important;   
        }
    }
}
