ion-card {
    --background: var(--ion-color-dark-cinzento) !important;
    --color: #FFFFFF !important;

}

ion-grid{
    height: 100%;
  }
  
  ion-row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

ion-col{
  margin-top: 0em;
  margin-bottom: 0em;
}

  ion-content{
    --background: var(--ion-color-light-cinzento);
  }