<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-titulo">Notificações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-cinzento">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-sm="12" size-md="6" *ngFor="let notifi of notificacoes">
        <ion-card>
          <ion-card-header>
            <ion-card-title> 
              {{ notifi.titulo}}
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            {{ notifi.texto }}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>