ion-card {
  --background: var(--ion-color-dark-cinzento) !important;
  --color: #FFFFFF !important;
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px 1px gray;
}

ion-row{
  margin-top: 2em;
  margin-bottom: 2em;
}

ion-col{
  margin-top: 0em;
  margin-bottom: 0em;
}

ion-content{
  --background: var(--ion-color-light-cinzento);
}
