<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center container-inicial">
      <ion-col size-xs="10" size-md="10">
        <ion-row class="ion-justify-content-center titulo-color">
          <ion-text>
            <p class="titulo">
              Bem-vindo à plataforma EWAS E-learning
            </p>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <p style="margin-bottom: 2em" class="subtitulo-cadastro">
              Conecte-se ao sistema para ter acesso aos materiais
            </p>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="10" size-md="6">
            <ion-button fill="outline" expand="block" size="large" color="light" (click)="page_login()">Login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <p style="margin-top: 2em" class="subtitulo-cadastro">
              Não tem conta? Cadastre-se abaixo
            </p>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center container-secundario">

      <ion-col size-xs="10" size-lg="6" size-md="10">

        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/EWAS_logo.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>

        <p class="justificado">
          EWAS é uma plataforma educacional do tipo e-learning que busca comunicar os conteúdos em saúde
          reprodutiva e sexual do modo mais ágil e simples possível, no contexto da Atenção Primária à Saúde.
          Tem como principal foco os profissionais das equipes de Saúde da Família, em especial os Agentes
          Comunitários de Saúde. O projeto acredita que a educação em saúde reprodutiva e sexual – seja direcionada
          para os profissionais, seja para as pacientes – gera escolhas reprodutivas conscientes que, por sua vez,
          possibilitam o verdadeiro empoderamento de nossas mulheres e meninas.
        </p>

      </ion-col>

    </ion-row>

    <ion-row class="ion-justify-content-center">

        <ion-col size-xs="10" size-md="6">

          <ion-text>
            <p class="titulo" style="margin-bottom: 1em">Crie sua conta</p>
          </ion-text>

          <form [formGroup]="fGroup">
            <ion-item>
              <ion-label position="floating">Nome Completo</ion-label>
              <ion-input name="nome" type="text" formControlName="nome"></ion-input>
              <div *ngIf="fGroup.controls.nome.errors && fGroup.controls.nome.touched">
                <p class="msgErro" *ngIf="fGroup.controls.nome.errors.required">Este campo é obrigatório</p>
              </div>
            </ion-item>

            <ion-item style="margin-bottom: 0em;">
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" formControlName="email"></ion-input>
              <div *ngIf="fGroup.controls.email.errors && fGroup.controls.email.touched">
                <p class="msgErro" *ngIf="fGroup.controls.email.errors.required">Este campo é obrigatório</p>
                <p class="msgErro" *ngIf="fGroup.controls.email.errors.pattern">Endereço de e-mail inválido</p>
              </div>
            </ion-item>

            <ion-text>
              <p style="margin-bottom: 2em;" class="sub-input">Ex: seuemail@procempa.com.br</p>
            </ion-text>

            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input name="senha" type="password" formControlName="senha"></ion-input>
              <div *ngIf="fGroup.controls.senha.errors && fGroup.controls.senha.touched">
                <p class="msgErro" *ngIf="fGroup.controls.senha.errors.required">Este campo é obrigatório</p>
                <p class="msgErro" *ngIf="fGroup.controls.senha.errors.minlength">Senha precisa ter mais de 6 caracteres</p>
              </div>
            </ion-item>

            <ion-button (click)="onSubmitForm()" expand="block" size="large" color="dark-ciano" [disabled]="!this.fGroup.valid">Cadastrar</ion-button>
          </form>
        </ion-col>

      </ion-row>

  </ion-grid>

</ion-content>



