<ion-content>

  <ion-grid>

    <ion-row class="ion-justify-content-center container-inicial">
      <ion-col size-xs="10" size-md="10">
        <ion-row class="ion-justify-content-center titulo-color">
          <ion-text>
            <p class="titulo">
              Bem vindo à plataforma EWAS E-learning
            </p>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <p style="margin-bottom: 2em" class="subtitulo-cadastro">
              Conecte-se ao sistema para ter acesso aos materiais
            </p>
          </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size-xs="10" size-md="6">
            <ion-button fill="outline" expand="block" size="large" color="light" (click)="page_login()">Login</ion-button>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-text>
            <p style="margin-top: 2em" class="subtitulo-cadastro">
              Não tem conta? Cadastre-se abaixo
            </p>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">

        <ion-col size-xs="10" size-md="6">

          <ion-text>
            <p class="titulo" style="margin-bottom: 1em">Crie sua conta</p>
          </ion-text>

          <form #formCad="ngForm" (ngSubmit)="onSubmit(formCad)">
            <ion-item>
              <ion-label position="floating">Nome Completo</ion-label>
              <ion-input name="nome" type="text" ngModel required></ion-input>
            </ion-item>

            <ion-item style="margin-bottom: 0em;">
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email" type="email" ngModel required email #emailCtrl="ngModel"></ion-input>
              <p class="msgErro" *ngIf="!emailCtrl.valid && emailCtrl.touched">Por favor, insira um email válido.</p>
            </ion-item>

            <ion-text>
              <p style="margin-bottom: 2em;" class="sub-input">Ex: seuemail@procempa.com.br</p>
            </ion-text>

            <ion-item>
              <ion-label position="floating">Senha</ion-label>
              <ion-input name="senha" type="password" ngModel required minlength="8" #senhaCtrl="ngModel"></ion-input>
              <p class="msgErro" *ngIf="!senhaCtrl.valid && senhaCtrl.touched">Mínimo de 8 caracteres</p>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Confirme a senha</ion-label>
              <ion-input name="re-senha" type="password" ngModel required minlength="8" #resenhaCtrl="ngModel"></ion-input>
              <!--<p class="msgErro" *ngIf="!resenhaCtrl.valid && resenhaCtrl.touched">Senhas diferentes</p>-->
            </ion-item>

            <ion-button type="submit" expand="block" size="large" color="dark-ciano" [disabled]="!formCad.valid">Cadastrar</ion-button>
          </form>
        </ion-col>

      </ion-row>

  </ion-grid>

</ion-content>



