ion-content{
  --background: var(--ion-color-light-cinzento) !important;
}

ion-grid{
  height: 100%;
  padding: 0em;
}

ion-row{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item{
  margin-bottom: 2em;
}

.sub-input{
  font-size: 0.8em;
  color: var(--ion-color-dark-ciano);
}

.container-inicial{
  margin: 0em;
  background: var(--ion-color-dark-ciano)
}

.container-secundario{
  margin: 0em;
  background: var(--ion-color-light)
}

.titulo-color{
  color: #fff;
}

.subtitulo-cadastro{
  color: var(--ion-color-light-cinzento);
  font-size: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.msgErro{
  color: var(--ion-color-danger);
}

.img{
  margin-bottom: 3em;
}

.justificado{
  text-align: justify;
  font-family: 'Roboto';
}

@media only screen and (min-width : 320px)
{
  .justificado
  {
    line-height: 1.5em;
    font-size: 0.8em;
  }
}

@media only screen and (min-width:480px)
{
  .justificado
  {

    font-size: 1em;
  }
}

@media only screen and (min-width:600px)
{
  .justificado
  {
    font-size: 1.5em;
  }
}

@media only screen and (min-width:801px)
{
  .justificado
  {
    font-size: large;
  }
}

@media only screen and (min-width:1025px)
{
  .justificado
  {
    font-size: large;
  }
}



