ion-content{
  --background: var(--ion-color-light-cinzento);
  --color: var(--ion-color-dark);
  font-family: roboto;
}

ion-grid{
  height: 100%;
}

ion-row{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-item{
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}
