<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-titulo">Vídeos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-cinzento">

  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="4.5" offset-md="1" *ngFor="let video of video.videos">
        <ion-card color="light-cinzento">
          <div class="container">
            <iframe class="responsive-iframe" [src]="video | safeUrl" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
