<ion-content color="dark-ciano">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img src="../assets/ewasP.png"/>
        <h4>Título</h4>
        <p>The ionic conference app is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../assets/ewasP.png"/>
        <h4>Título</h4>
        <p>The ionic conference app is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../assets/ewasP.png"/>
        <h4>Título</h4>
        <p>The ionic conference app is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../assets/ewasP.png"/>
        <h4>Título</h4>
        <p>The ionic conference app is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
        <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>
