<ion-content color="white">
  <ion-slides pager>
    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/1.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Bem-vindo!</b></h2>
        <p>A plataforma <b>Ewas E-learning</b> oferece uma maneira mais simples e fácil de você, <b>agente comunitário de saúde</b>, aprender.  </p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/2.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Educação em saúde reprodutiva e sexual</b></h2>
        <p>A plataforma visa a <b>formação</b> e <b>atualização</b> dos seus conhecimentos focando educação em <b>saúde reprodutiva e sexual</b> no contexto do SUS.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/3.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Métodos</b></h2>
        <p>No menu lateral da plataforma você vai encontrar uma item chamado <b>"Métodos"</b>, o qual apresenta explicação sobre os métodos contraceptivos disponíveis no SUS.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/4.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Vídeos</b></h2>
        <p>Também no menu lateral, você vai encontrar o item chamado <b>"Vídeos"</b>, o qual traz explicações visuais para um melhor entendimento.</p>
      </div>
    </ion-slide>
<!--
    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/5.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h4>Geolocalização</h4>
        <p>A plataforma conta com um serviço de geolocalização, que te mostra serviços, como farmacias e hospitais, mais próximos de você.</p>
      </div>
    </ion-slide>
  -->
    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/6.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Dúvidas?</b></h2>
        <p>Se ficou alguma dúvida, vá no menu lateral e toque item chamado <b>"Canal de dúvidas"</b>.
          Lá você escreve seu questionamento e procuramos lhe responder o mais rápido possível.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/7.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h2><b>Tanto Web quanto Mobile</b></h2>
        <p>E não esquece que essa é uma plataforma <b>híbrida</b>, ou seja, o EWAS funciona tanto no seu <b>celular</b> e/ou <b>tablets</b> quanto no seu <b>computador</b>.</p>
      </div>
    </ion-slide>
<!--
    <ion-slide>
      <div class="slide">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="8" size-md="4">
              <ion-img src="../assets/8.png"></ion-img>
            </ion-col>
          </ion-row>
        </div>
        <h4>UFCSPA</h4>
        <p>The ionic conference app is a practical preview of the ionic framework in action, and a demonstration of proper code use.</p>
      </div>
    </ion-slide>
-->
    <ion-slide>
      <ion-button fill="clear" size="large" (click)="close()" color="dark"><b>Continue</b><ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
