<ion-header>
  <ion-toolbar>
    <ion-title>Entenda o EWAS E-Learnig</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card color="dark-ciano">
    <ion-img src="../assets/ewasP.png"></ion-img>
  </ion-card>

  <ion-card color="dark-ciano">
    <ion-img src="../assets/ewasP.png"></ion-img>
  </ion-card>

  <ion-card color="dark-ciano">
    <ion-img src="../assets/ewasP.png"></ion-img>
  </ion-card>
  
  <ion-iten>
    <ion-button (click)="close()">Fechar</ion-button>
  </ion-iten>
</ion-content>
