ion-grid{
    height: 100%;
    padding: 0em;
  }

ion-row{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-slides{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 80%;
    height: 80%;
}
p{
    padding: 2em;
    text-align: center;
}

