ion-content{
  --background: var(--ion-color-light-cinzento);
}

#cont{
  margin-top: 1em;
}

ion-row{
  margin-top: 2em;
  margin-bottom: 2em;
}

ion-item{
  margin-bottom: 1em;
  box-shadow: 2px 2px 5px 1px gray;
}



