<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-titulo">Métodos Contraceptivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id="cont" size-sm="10" offset-md="2" size-md="8" size-lg="6" offset-lg="3">
        <ion-list>
          <ion-item>
            <ion-button expand="block" size="large"></ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
