<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="toolbar-titulo">Métodos Contraceptivos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col id="cont" size-xs="10" offset-xs="1" offset-md="2" size-md="5" size-lg="4.5" offset-lg="1" *ngFor="let metodo of metodos">
          <ion-item style="--background: {{ metodo.corP }};" button [routerLink]="['/metodos-conteudo', metodo.id]">
            <ion-avatar slot="start">
              <img src="../assets/img-metodos/med.png">
            </ion-avatar>
            <ion-label color="ghost">
              {{ metodo.titulo }}
            </ion-label>
          </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
