#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

//mudei aqui

.ion-margin-vertical{
  margin-top: 32px;
  margin-bottom: 124px;
}

ion-content{
  --background: var(--ion-color-light-cinzento) !important;
}

ion-grid{
  height: 100%;
}

ion-row{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img{
  margin-bottom: 5em;
}
