<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="light-cinza">
  <ion-grid>
    <ion-row id="container-principal">
      <ion-col size-md="6" size-xs="12">
        <p id="titulo">Seja bem-vindo à</p>
        <p id="subtitulo"><b>Plataforma EWAS E-Learning</b></p>
      </ion-col>
      <ion-col size-md="3" size-xs="6">
        <ion-img src="../assets/capa-home.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row id="ca">
      <ion-col size-xs="7" size-md="4">
        <div class="img">
          <ion-row class="ion-justify-content-center">
            <ion-col size-xs="12" size-md="5">
              <ion-img src="../assets/giphy.gif"></ion-img>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
      <ion-col size-md="6" size-xs="12">
        <p id="titulo" style="margin-bottom: 1em;">Quem somos?</p>
        <p id="texto" style = "text-align: justify;">O projeto EWAS E-learning visa ampliar a rede de apoio e trazer mais conhecimento à equipe de saúde do programa Estratégia Saúde da Família, com foco nos agentes comunitários de saúde.</p>
        <p id="texto" style = "text-align: justify;">Esse projeto foi desenvolvido pelos discentes André Jardim, Gabriel Menin e Maico Triaca do curso de Informática Biomédica da UFCSPA pela cadeira de Engenharia de Software II, em parceria com a Dra. Graziella Machado.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
