<ion-header>
  <ion-toolbar color="azul-coal">
    <ion-title>
      EWAS E-learning
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light-cinzento">

  <ion-grid>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col>
        <ion-img src="../assets/ewasP.png" size="large"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button shape="round" color="amarelo">Login</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button shape="round" color="dark-ciano">Cadastro</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>