<!--
<ion-header>
  <ion-toolbar color="azul-coal">
    <ion-title>EWAS E-learning</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
-->

<ion-content color="light-cinzento">
  <ion-grid>

      <ion-row><h5></h5></ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="8"  size-md="3">
          <ion-img src="../assets/ewasP.png"></ion-img>
        </ion-col>
      </ion-row>

      <ion-row><h5></h5></ion-row>
      <ion-row><h5></h5></ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="10" size-md="6">
          <ion-button expand="block" size="large" color="amarelo" (click)="page_login()">Login</ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-justify-content-center">
        <ion-col size-xs="10" size-md="6">
          <ion-button expand="block" size="large" color="dark-ciano">Cadastro</ion-button>
        </ion-col>
      </ion-row>

      <ion-row><h5></h5></ion-row>
      <ion-row><h5></h5></ion-row>

  </ion-grid>
</ion-content>

<!-- botoes nas antigas localizacoes
        <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button shape="round" color="amarelo" (click)="page_login()">Login</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>

    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <ion-button shape="round" color="dark-ciano">Cadastro</ion-button>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>  -->
